
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-laylo: red;
  --color-bg-py: blue;
}

.container{
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
